.menu {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.menuItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  font-size: 24px;
  /* margin-right: 10px; */
  display: block;
  float: left;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
}

.menuUser {
  float: right;
}
.menuUserItem {
  /* background-color: rgb(102, 0, 0); */
  font-size: 24px;
  /* margin-right: 10px; */
  display: block;
  float: left;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;

  float: left;
}
.menu div.active {
  background-color: #555;
}
