html,
body,
#root {
  height: 100%;
  text-align: center;
  --menu-bg-color: rgba(0, 77, 75, 0.8);
  --menu-color-active: rgb(183, 253, 251);
  --menu-color: rgb(54, 149, 146)
}

a {
  color: blue;
}
body {
  font-family: Arial, sans-serif;
}
h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 5px 20px 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
