.barChart {
  max-width: 600px;
  max-height: 500px;
  /* margin: Top Right Bottom Left  */
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
