.Card > button {
  height: fit-content;
  width: fit-content;
  background-color: transparent;
  float: right;
  border: none;
  cursor: pointer;
}

.Card {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 500px;
}

.itemList > .cardList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.infoSpan {
  color: white;
}
img {
  height: 100%;
  width: 100%;
}
a:hover {
  cursor: pointer;
}
.heart {
  color: gray;
  position: relative;
  /* top: -158px; */
  float: left;
  font-size: 24px;
  cursor: pointer;
}
.heart:hover {
  color: white;
}
.Liked {
  color: red;
}
.Liked:hover {
  color: pink;
}
.adminButton {
  cursor: pointer;
  margin: 2px 5px;
}
.adminMenu {
  float: right;
}
.textContainer {
  float: left;
  position: relative;
  top: -10px;
}
.cardContainer {
  width: 100%;
  height: 100%;
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
}
